*{
    margin: 0;
    padding: 0;

}  
header{
    display: flex;
   background-color: bisque;
    height: 8vh;
}
.ass1{
     float: left;
     width: 20vh;
     height: 92vh;
     background-color: rgb(161, 193, 202);
     border-color: rgb(41, 216, 18);
}
h6{
    margin-top: 3vh;
    color: rgb(90, 66, 66);
    
}
#das{
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
   
}
#da{
    margin-left: 10px;
    
}
#das:hover{
   color: rgb(123, 123, 220);
   
}
a:hover{
background-color: azure;
height: 20px;
width: 10px;
border-radius: 10px;
margin-left: 10px;
}
.pro{
    margin-top: 30PX;
     display: flex; 
    width: 200px;
    margin-left: 50px;
   gap: 80px;
}
.c{
    background-color: rgb(187, 187, 202);
    height: 320px;
    width: 350px;
    border-radius: 20px;
}
.py{
    background-color: rgb(187, 187, 202);
    height: 320px;
    width: 350px;
    border-radius: 20px;
}
.ja{
    background-color: rgb(187, 187, 202);
    height: 320px;
    width: 350px;
    border-radius: 20px;
}
.mar{
    margin-top: 60PX;
    margin-left: 220PX;
   
}
